{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-console": 0,
    "max-len": 0,
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state",
          "acc",
          "e",
          "ctx",
          "req",
          "request",
          "res",
          "response",
          "$scope"
        ]
      }
    ],
    "vue/script-indent": ["error", 2, { "baseIndent": 1 }],
    "vue/no-unused-components": 0,
    "vue/max-attributes-per-line": 0,
    "vue/singleline-html-element-content-newline": 0
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "indent": "off"
      }
    }
  ]
}
