@import '_reset';

$font-stack: 'Lato', sans-serif;
$background-colour: #f1f0ee;
$highlight-colour: #74c557;

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    height: 100%;
}

body {
    font: 400 16px $font-stack;
    background-color: $background-colour;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 900;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 5px;
    user-select: none;

    &.blue {
        background-color: #55acee;
        box-shadow: 0 5px 0 0 #3c93d5;

        &:hover {
            background-color: #6fc6ff;
        }
    }

    &.green {
        background-color: #2ecc71;
        box-shadow: 0 5px 0 0 #15b358;

        &:hover {
            background-color: #48e68b;
        }
    }

    &.red {
        background-color: #e74c3c;
        box-shadow: 0 5px 0 0 #ce3323;

        &:hover {
            background-color: #ff6656;
        }
    }

    &:active {
        transform: translateY(5px);
        box-shadow: 0 1px 0 0;
    }
}

.main {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.start-container {
    @extend .main;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: left 300ms ease-in-out;

    &.disabled {
        left: -100%;
    }
}

.main-container {
    position: relative;
    top: 25%;
    left: 100%;

    transition: left 300ms ease-in-out;

    &.active {
        left: 0;
    }
}

.row {
    display: flex;
    align-items: center;

    .column {
        flex: 1;
        justify-content: center;

        &.column-half {
            flex: 0.5;
        }

        &:first-child {
            //margin-right: 15px;
        }

        &:last-child {
            //margin-left: 15px;
        }
    }
}

#video-title {
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
}

#video-subtitle {
    @extend #video-title;
    font-size: 16px;
    margin-bottom: 25px;
}

.player-container {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    #player {
        width: 100%;
    }
}
