@import '_reset';

$font-stack: 'Lato', sans-serif;

html, body {
    min-height: 100vh;
    height: 100%;
}

body {
    font: 400 16px $font-stack;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;

    .column {
        flex: 1;
        justify-content: center;
        padding: 25px;
        background-color: rgba(0, 0, 0, 0.2);

        &.column-half {
            flex: 0.5;
        }
    }
}

#player {
    width: 100%;
}