html, body {
  font-size: 10px;
  height: 100vh;
}

body {
  font-family: $default-font;
  font-weight: $default-weight;
  color: #ffffff;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: grid;
  grid-gap: 50px;
  grid-template-areas: "header header header"
                       "main main aside";
  grid-template-columns: auto auto 30%;
  max-width: 1600px;
  margin: 0 auto;
}

.text-align {
  &--left {
    text-align: left !important;
    text-align-last: left !important;
  }

  &--center {
    text-align: center !important;
    text-align-last: center !important;
  }

  &--right {
    text-align: right !important;
    text-align-last: right !important;
  }
}