html, body {
  height: 100vh;
}

body {
  font-family: $default-font;
  font-weight: $default-weight;
  color: #ffffff;
  background: radial-gradient(circle at 50% 53%, #4d6570, #243238);
  -webkit-font-smoothing: antialiased;
}

.text-align {
  &--left {
    text-align: left !important;
    text-align-last: left !important;
  }

  &--center {
    text-align: center !important;
    text-align-last: center !important;
  }

  &--right {
    text-align: right !important;
    text-align-last: right !important;
  }
}