html, body {
  font-size: 10px;
  height: 100vh;
}

body {
  font-family: $default-font;
  font-weight: $default-weight;
  color: #ffffff;
  padding-top: 50px;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: padding 100ms ease-in-out;

  @media screen and (max-width: 1600px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1601px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

#app {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto 30%;
}

.text-align {
  &--left {
    text-align: left !important;
    text-align-last: left !important;
  }

  &--center {
    text-align: center !important;
    text-align-last: center !important;
  }

  &--right {
    text-align: right !important;
    text-align-last: right !important;
  }
}