* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// variables
$default-font: 'PT Sans', sans-serif;
$default-weight: 700;
$transition-time: 80ms;
$transition-style: linear;

@import 'reset';
// @import 'vendor/reflex/scss/reflex';
@import 'main';
@import 'elements';
@import 'partials/header';
@import 'player/video';
@import 'player/queue';
@import 'player/stats';
@import 'offline';