* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import 'reset';
@import 'vendor/reflex/scss/reflex';
@import 'main';
@import 'elements';
@import 'partials/header';
@import 'player/video';
@import 'player/queue';
@import 'player/stats';