.player {
  &__queue-title {
    margin-bottom: 10px;
  }

  &__queue-container {
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.25);
    overflow-y: overlay;
  }

  &__queue-item {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.75);

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &-thumbnail {
      max-width: 100%;
    }
  }
}