.player {
  $this: &;

  &__queue-container {
    &:hover {
      #{$this} {
        &__queue-item {
          opacity: 0.5;
        }
      }
    }
  }

  &__queue-item {
    font-size: 14px;
    padding: 10px;
    height: 100px;
    background: rgba(255, 255, 255, 0.10);
    cursor: pointer;
    transition: all 80ms linear;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      background: #506472;
      box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.35);
      opacity: 1 !important;
    }

    &-thumbnail-container {
      float: left;
      width: 153px;
      height: 80px;
      overflow: hidden;
      padding-right: 10px;
    }

    &-thumbnail {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
}